BOT_API_TOKEN=replace-with-a-long-random-token
HUGINN_USERNAME=my-bot
MUNINN_ADDR=https://muninn.evil-bread.ru
BOT_API_PORT=8081
HUGINN_CHUNK_TTL=1w
# HUGINN_TURN_ADDR=turn:turn.example.org:3478
# HUGINN_TURN_USER=
# HUGINN_TURN_PASS=
